[Unit]
Description=MQTT gateway for evohome (Python) 
After=syslog.target network.target usbip_bind.service

[Service]
Type=simple
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=evoGateway
User=david
WorkingDirectory=/home/david/evoGateway
ExecStart=/home/david/evoGateway/evogateway.py --log /var/log/evogateway.log 
Restart=on-failure
RestartSec=30
KillMode=process

[Install]
Alias=evogateway
WantedBy=multi-user.target
#WantedBy=mosquitto.service
